<!-- BEGIN .with-sidebar-layout -->
<div class="with-sidebar-layout left">

    <app-elm-playlist *ngFor="let playlistInfo of playlistsInfo" totalItems="{{playlistInfo.totalItems}}"
        playlistId="{{playlistInfo.playlistID}}" layout="{{playlistInfo.layoutType}}"></app-elm-playlist>
    <!-- END .with-sidebar-layout -->

    <!-- WIDGET ADS : article -->
    <div class="content-panel" app-widget-ads></div>
</div>

<!-- BEGIN #sidebar -->
<aside id="sidebar" class="right">

    <!-- BEGIN .widget -->
    <div class="widget">
        <div class="banner-widget no-border">
            <a href="#" target="_blank"><img src="assets/images/no-banner-300x250.jpg" width="300" height="250"
                    alt="" /></a>
            <a href="contact-us.html" class="banner-meta"><i class="fa fa-angle-double-up"></i> Contact us
                about advert spaces <i class="fa fa-angle-double-up"></i></a>
        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Featured Videos</h3>
        <div class="widget-videos">

            <!-- BEGIN .item -->
            <div class="item">
                <div class="item-header">
                    <a href="post.html" class="video-thumb loadingvideo"><img src="assets/images/aspect-px.png"
                            width="16" height="9" class="aspect-px"
                            rel="http://b.vimeocdn.com/ts/160/609/160609628_640.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <h3><a href="post.html">Manhattan in motion</a><a href="#"><span class="marker">HD
                                Videos</span></a></h3>
                    <span class="video-meta">
                        <a href="post.html"><i class="fa fa-comment"></i>283</a>
                        <a href="post.html"><i class="fa fa-eye"></i>829</a>
                        <a href="#"><i class="fa fa-heart"></i>95</a>
                    </span>
                </div>
                <!-- END .item -->
            </div>

            <!-- BEGIN .item -->
            <div class="item">
                <div class="item-header">
                    <a href="post.html" class="video-thumb loadingvideo"><img src="assets/images/aspect-px.png"
                            width="16" height="9" class="aspect-px"
                            rel="http://b.vimeocdn.com/ts/180/758/180758636_640.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <h3><a href="post.html">EAT</a><a href="#"><span class="marker">Travel &amp;
                                Events</span></a></h3>
                    <span class="video-meta">
                        <a href="post.html"><i class="fa fa-comment"></i>283</a>
                        <a href="post.html"><i class="fa fa-eye"></i>829</a>
                        <a href="#"><i class="fa fa-heart"></i>95</a>
                    </span>
                </div>
                <!-- END .item -->
            </div>

            <!-- BEGIN .item -->
            <div class="item">
                <div class="item-header">
                    <a href="post.html" class="video-thumb loadingvideo"><img src="assets/images/aspect-px.png"
                            width="16" height="9" class="aspect-px"
                            rel="http://b.vimeocdn.com/ts/991/220/99122029_640.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <h3><a href="post.html">Above Everything Else</a><a href="#"><span class="marker">Creative
                                Stuff</span></a></h3>
                    <span class="video-meta">
                        <a href="post.html"><i class="fa fa-comment"></i>283</a>
                        <a href="post.html"><i class="fa fa-eye"></i>829</a>
                        <a href="#"><i class="fa fa-heart"></i>95</a>
                    </span>
                </div>
                <!-- END .item -->
            </div>

            <!-- BEGIN .item -->
            <div class="item">
                <div class="item-header">
                    <a href="post.html" class="video-thumb loadingvideo"><img src="assets/images/aspect-px.png"
                            width="16" height="9" class="aspect-px"
                            rel="https://v.cdn.vine.co/r/thumbs/ADE6833A651053105159867662336_1c25aa1ad3a.3.2.mp4.jpg?versionId=ra78JOE8884XFoa6zhhkfTp1EYrcvAWn"
                            alt="" /></a>
                </div>
                <div class="item-content">
                    <h3><a href="post.html">Surprised my girlfriend</a><a href="#"><span class="marker">Vines</span></a>
                    </h3>
                    <span class="video-meta">
                        <a href="post.html"><i class="fa fa-comment"></i>283</a>
                        <a href="post.html"><i class="fa fa-eye"></i>829</a>
                        <a href="#"><i class="fa fa-heart"></i>95</a>
                    </span>
                </div>
                <!-- END .item -->
            </div>

        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Popular Videos</h3>
        <div class="widget-videos-small">

            <!-- BEGIN .item -->
            <div class="item">
                <div class="item-header">
                    <a href="post.html" class="video-thumb loadingvideo"><img src="assets/images/aspect-px.png"
                            width="16" height="9" class="aspect-px"
                            rel="http://b.vimeocdn.com/ts/580/274/58027488_295.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <a href="post.html"><span class="marker">Creative Stuff</span></a>
                    <h3><a href="post.html">Television is a drug.</a></h3>
                    <span class="video-meta">
                        <a href="post.html"><i class="fa fa-comment"></i>283</a>
                        <a href="post.html"><i class="fa fa-eye"></i>829</a>
                        <a href="#"><i class="fa fa-heart"></i>95</a>
                    </span>
                </div>
                <!-- END .item -->
            </div>

            <!-- BEGIN .item -->
            <div class="item">
                <div class="item-header">
                    <a href="post.html" class="video-thumb loadingvideo"><img src="assets/images/aspect-px.png"
                            width="16" height="9" class="aspect-px"
                            rel="http://i.vimeocdn.com/video/435803636_295x166.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <a href="post.html"><span class="marker">HD Videos</span></a>
                    <h3><a href="post.html">Nuit Blanche</a></h3>
                    <span class="video-meta">
                        <a href="post.html"><i class="fa fa-comment"></i>283</a>
                        <a href="post.html"><i class="fa fa-eye"></i>829</a>
                        <a href="#"><i class="fa fa-heart"></i>95</a>
                    </span>
                </div>
                <!-- END .item -->
            </div>

            <!-- BEGIN .item -->
            <div class="item">
                <div class="item-header">
                    <a href="post.html" class="video-thumb loadingvideo"><img src="assets/images/aspect-px.png"
                            width="16" height="9" class="aspect-px"
                            rel="http://b.vimeocdn.com/ts/500/390/50039066_295.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <a href="post.html"><span class="marker">Creative Stuff</span></a>
                    <h3><a href="post.html">Nokta.</a></h3>
                    <span class="video-meta">
                        <a href="post.html"><i class="fa fa-comment"></i>283</a>
                        <a href="post.html"><i class="fa fa-eye"></i>829</a>
                        <a href="#"><i class="fa fa-heart"></i>95</a>
                    </span>
                </div>
                <!-- END .item -->
            </div>

            <!-- BEGIN .item -->
            <div class="item">
                <div class="item-header">
                    <a href="post.html" class="video-thumb loadingvideo"><img src="assets/images/aspect-px.png"
                            width="16" height="9" class="aspect-px"
                            rel="http://b.vimeocdn.com/ts/244/196/244196772_295.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <a href="post.html"><span class="marker">Experimental</span></a>
                    <h3><a href="post.html">PROTEIGON</a></h3>
                    <span class="video-meta">
                        <a href="post.html"><i class="fa fa-comment"></i>283</a>
                        <a href="post.html"><i class="fa fa-eye"></i>829</a>
                        <a href="#"><i class="fa fa-heart"></i>95</a>
                    </span>
                </div>
                <!-- END .item -->
            </div>

            <!-- BEGIN .item -->
            <div class="item">
                <div class="item-header">
                    <a href="post.html" class="video-thumb loadingvideo"><img src="assets/images/aspect-px.png"
                            width="16" height="9" class="aspect-px"
                            rel="http://i.vimeocdn.com/video/438279294_295x166.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <a href="post.html"><span class="marker">Experimental</span></a>
                    <h3><a href="post.html">The Vein / Magma</a></h3>
                    <span class="video-meta">
                        <a href="post.html"><i class="fa fa-comment"></i>283</a>
                        <a href="post.html"><i class="fa fa-eye"></i>829</a>
                        <a href="#"><i class="fa fa-heart"></i>95</a>
                    </span>
                </div>
                <!-- END .item -->
            </div>

        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <div class="banner-widget no-border">
            <a href="#" target="_blank"><img src="assets/images/no-banner-300x250.jpg" width="300" height="250"
                    alt="" /></a>
            <a href="contact-us.html" class="banner-meta"><i class="fa fa-angle-double-up"></i> Contact us
                about advert spaces <i class="fa fa-angle-double-up"></i></a>
        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Tag Cloud</h3>
        <div class="tagcloud">
            <a href="browse.html">Creative</a>
            <a href="browse.html">Neglegentur</a>
            <a href="browse.html">Gubergren</a>
            <a href="browse.html">Temporibus reformid</a>
            <a href="browse.html">Democ</a>
            <a href="browse.html">Gubergren</a>
            <a href="browse.html">Neglegentur</a>
            <a href="browse.html">Creative</a>
        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Latest Comments</h3>
        <div class="comments-list">

            <div class="item">
                <div class="item-header">
                    <img src="assets/images/photos/image-1.jpg" width="40" height="40" class="item-photo" alt="" />
                    <div class="item-header-title">
                        <h4>Radclyffe Mariano<span>says:</span></h4>
                        <span class="datetime">July 6th 2013, 12:00</span>
                    </div>
                </div>
                <div class="item-content">
                    <p>Eos alii duis comprehensam ea. Ad vix sumo tim eam petentium, soluta corpora
                        mnesarchum ex nemore everti dolorem at, eu mazim.</p>
                    <a href="post.html#comments" class="small-link"><i class="fa fa-comment"></i>View
                        Comment</a>
                </div>
            </div>

            <div class="item">
                <div class="item-header">
                    <a href="#"><img src="assets/images/photos/image-1.jpg" width="40" height="40" class="item-photo"
                            alt="" /></a>
                    <div class="item-header-title">
                        <h4><a href="#">Orange-Themes</a><span>says:</span></h4>
                        <span class="datetime">July 6th 2013, 12:00</span>
                    </div>
                </div>
                <div class="item-content">
                    <p>Eos alii duis comprehensam ea. Ad vix sumo tim nemore everti dolorem at, eu mazim.
                    </p>
                    <a href="post.html#comments" class="small-link"><i class="fa fa-comment"></i>View
                        Comment</a>
                </div>
            </div>

        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>HTML Widget</h3>
        <div class="htmlcode">
            <p>Saepe fierent ius ei, ea sea vulputate cotidieque, ne mollis ceteros has. Eu fastidii
                perpetua pro, eum at ornatus molestie persequeris, usu causae ponderum cu. Ullum bonorum
                quaerendum duo an. Usu debet possim efficiendi no.</p>
        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Default WP Menu</h3>
        <ul>
            <li><a href="browse.html">Lorem Ipsum</a> (9)</li>
            <li><a href="browse.html">Lalalala</a> (9)</li>
            <li><a href="browse.html">Lorem Ipsum</a> (9)</li>
            <li><a href="browse.html">Lalalala</a> (9)</li>
        </ul>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Custom Video Cateogries</h3>
        <ul class="custom-categories">
            <li><a href="browse.html">Music Videos<span>327</span></a></li>
            <li><a href="browse.html">Creative Stuff<span>182</span></a></li>
            <li><a href="browse.html">Vines<span>182</span></a></li>
            <li><a href="browse.html">HD Videos<span>182</span></a></li>
            <li><a href="browse.html">Experimental<span>32</span></a></li>
        </ul>
        <!-- END .widget -->
    </div>



    <!-- END #sidebar -->
</aside>

<!-- END .wrapper -->